@page "/"
@page "/Home"


<div class="container">
    <h1 class="header-text">Välkommen Admin!</h1>

    <p>
        Det här är administrationspanelen för banken där du kan ha full kontroll över viktiga funktioner.
    </p>

    <h2>Dashboard</h2>
    <p>
        Dashboard ger dig en översikt över bankens kunder. Här kan du se kundernas saldo,
        deras kund-ID, samt annan relevant information som hjälper dig att snabbt få en helhetsbild.
        Det är ett kraftfullt verktyg för att hålla koll på kundernas konton och deras aktuella status.
    </p>

    <h2>Transaktioner</h2>
    <p>
        I sektionen för transaktioner kan du hantera uttag, insättningar och överföringar mellan konton.
        Du bestämmer själv hur mycket pengar som ska tas ut eller sättas in, samt vilka konton som ska
        påverkas vid överföringar. Detta gör det enkelt och säkert att sköta kundernas finansiella ärenden.
    </p>
</div>
